<% include template/header %>
  <body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3"><%= title %></h1>
      <p class="lead">Vào mongodb</p>
      <hr class="my-2">
    </div>
    <%data.forEach(function(mot) { %>
    <form action="/sua/<%= mot._id %>" method="post">
        
      <div class="form-group">
        <label for="ten">Tên</label>
        <input type="text"
          class="form-control" name="ten" id="" aria-describedby="helpId" placeholder="" value="<%=mot.ten%>">
        <small id="helpId" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="tuoi">Tuổi</label>
        <input type="text" class="form-control" name="tuoi" id="" aria-describedby="helpId" placeholder="" value="<%=mot.tuoi%>">
        <small id="helpId" class="form-text text-muted"></small>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%}) %>
  </div>
  </body>
</html>
